figure_slides_3_29_2022.pptx
questions_wr_zooplankton.docx
JASM_2022_poster/
data/WR2018ZoopsID.xlsx
data/WR2019ZoopsID.xlsx
data/Zooplankton_eggs_and_length.xlsx
data/Zooplankton_eggs_and_length_2_25_2022.xlsx
data/Zooplankton_eggs_and_length_3_29_2022.xlsx
data/Zooplankton_eggs_and_length_5_9_2022.xlsx
data/WR_data_ALL_Boyle.xlsx
.DS_Store
figures/
scripts/mee3_71_sm_appendixs1/
scripts/.Rhistory
scripts_nonversion_control/
.Rapp.history
